You got a new order from <%= @email %>!
===============================================

Order Details:
-------------------------

Email: <%= @email %>
<% @products.each do |product| %>
  PRODUCT:
  <p>Product Id: <%= product[:id] %> </p>
  <p>Product Name: <%= product[:name] %> </p>
  <p>Product Price: <%= product[:price] %> </p>
  <p>Quantity: <%= product[:quantity] %> </p>
  ----------------------------------------------
<% end %>